web/WEB-INF/wsdl/192.168.250.146_8080/contabilidadWS/actualizacionCfds.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.iqtb.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.iqtb.com/" name="actualizacionCfds">
<wsp:Policy wsu:Id="actualizacionCfdsPortBindingPolicy" />
<types>
<xsd:schema>
<xsd:import namespace="http://ws.iqtb.com/" schemaLocation="http://192.168.250.146:8080/contabilidadWS/actualizacionCfds?xsd=1" />
</xsd:schema>
</types>
<message name="obtenerListaCfds">
<part name="parameters" element="tns:obtenerListaCfds" />
</message>
<message name="obtenerListaCfdsResponse">
<part name="parameters" element="tns:obtenerListaCfdsResponse" />
</message>
<message name="ObtenerNombreEmpresa">
<part name="parameters" element="tns:ObtenerNombreEmpresa" />
</message>
<message name="ObtenerNombreEmpresaResponse">
<part name="parameters" element="tns:ObtenerNombreEmpresaResponse" />
</message>
<message name="obtenerCancelados">
<part name="parameters" element="tns:obtenerCancelados" />
</message>
<message name="obtenerCanceladosResponse">
<part name="parameters" element="tns:obtenerCanceladosResponse" />
</message>
<message name="obtenerCfds">
<part name="parameters" element="tns:obtenerCfds" />
</message>
<message name="obtenerCfdsResponse">
<part name="parameters" element="tns:obtenerCfdsResponse" />
</message>
<message name="obtenerCliente">
<part name="parameters" element="tns:obtenerCliente" />
</message>
<message name="obtenerClienteResponse">
<part name="parameters" element="tns:obtenerClienteResponse" />
</message>
<message name="obtenerSucursal">
<part name="parameters" element="tns:obtenerSucursal" />
</message>
<message name="obtenerSucursalResponse">
<part name="parameters" element="tns:obtenerSucursalResponse" />
</message>
<message name="agregarCfdiValido">
<part name="parameters" element="tns:agregarCfdiValido" />
</message>
<message name="agregarCfdiValidoResponse">
<part name="parameters" element="tns:agregarCfdiValidoResponse" />
</message>
<message name="AgregarCliente">
<part name="parameters" element="tns:AgregarCliente" />
</message>
<message name="AgregarClienteResponse">
<part name="parameters" element="tns:AgregarClienteResponse" />
</message>
<message name="verificarConexion">
<part name="parameters" element="tns:verificarConexion" />
</message>
<message name="verificarConexionResponse">
<part name="parameters" element="tns:verificarConexionResponse" />
</message>
<portType name="actualizacionCfds">
<operation name="obtenerListaCfds">
<input wsam:Action="http://ws.iqtb.com/actualizacionCfds/obtenerListaCfdsRequest" message="tns:obtenerListaCfds" />
<output wsam:Action="http://ws.iqtb.com/actualizacionCfds/obtenerListaCfdsResponse" message="tns:obtenerListaCfdsResponse" />
</operation>
<operation name="ObtenerNombreEmpresa">
<input wsam:Action="http://ws.iqtb.com/actualizacionCfds/ObtenerNombreEmpresaRequest" message="tns:ObtenerNombreEmpresa" />
<output wsam:Action="http://ws.iqtb.com/actualizacionCfds/ObtenerNombreEmpresaResponse" message="tns:ObtenerNombreEmpresaResponse" />
</operation>
<operation name="obtenerCancelados">
<input wsam:Action="http://ws.iqtb.com/actualizacionCfds/obtenerCanceladosRequest" message="tns:obtenerCancelados" />
<output wsam:Action="http://ws.iqtb.com/actualizacionCfds/obtenerCanceladosResponse" message="tns:obtenerCanceladosResponse" />
</operation>
<operation name="obtenerCfds">
<input wsam:Action="http://ws.iqtb.com/actualizacionCfds/obtenerCfdsRequest" message="tns:obtenerCfds" />
<output wsam:Action="http://ws.iqtb.com/actualizacionCfds/obtenerCfdsResponse" message="tns:obtenerCfdsResponse" />
</operation>
<operation name="obtenerCliente">
<input wsam:Action="http://ws.iqtb.com/actualizacionCfds/obtenerClienteRequest" message="tns:obtenerCliente" />
<output wsam:Action="http://ws.iqtb.com/actualizacionCfds/obtenerClienteResponse" message="tns:obtenerClienteResponse" />
</operation>
<operation name="obtenerSucursal">
<input wsam:Action="http://ws.iqtb.com/actualizacionCfds/obtenerSucursalRequest" message="tns:obtenerSucursal" />
<output wsam:Action="http://ws.iqtb.com/actualizacionCfds/obtenerSucursalResponse" message="tns:obtenerSucursalResponse" />
</operation>
<operation name="agregarCfdiValido">
<input wsam:Action="http://ws.iqtb.com/actualizacionCfds/agregarCfdiValidoRequest" message="tns:agregarCfdiValido" />
<output wsam:Action="http://ws.iqtb.com/actualizacionCfds/agregarCfdiValidoResponse" message="tns:agregarCfdiValidoResponse" />
</operation>
<operation name="AgregarCliente">
<input wsam:Action="http://ws.iqtb.com/actualizacionCfds/AgregarClienteRequest" message="tns:AgregarCliente" />
<output wsam:Action="http://ws.iqtb.com/actualizacionCfds/AgregarClienteResponse" message="tns:AgregarClienteResponse" />
</operation>
<operation name="verificarConexion">
<input wsam:Action="http://ws.iqtb.com/actualizacionCfds/verificarConexionRequest" message="tns:verificarConexion" />
<output wsam:Action="http://ws.iqtb.com/actualizacionCfds/verificarConexionResponse" message="tns:verificarConexionResponse" />
</operation>
</portType>
<binding name="actualizacionCfdsPortBinding" type="tns:actualizacionCfds">
<wsp:PolicyReference URI="#actualizacionCfdsPortBindingPolicy" />
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="obtenerListaCfds">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ObtenerNombreEmpresa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerCancelados">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerCfds">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerSucursal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarCfdiValido">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AgregarCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verificarConexion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="actualizacionCfds">
<port name="actualizacionCfdsPort" binding="tns:actualizacionCfdsPortBinding">
<soap:address location="http://192.168.250.146:8080/contabilidadWS/actualizacionCfds" />
</port>
</service>
</definitions>